.vscode/
backend/env/
backend/backend/__pycache__/
backend/dtr/output/*
!backend/dtr/output/.gitkeep
backend/office/migrations/
backend/office/__pycache__/
backend/office/migrations/
backend/office/invoice/generated/*
!backend/office/invoice/generated/.gitkeep
backend/station/__pycache__/
backend/station/migrations/
backend/technical/__pycache__/
backend/technical/migrations/
backend/transmitter/__pycache__/
backend/transmitter/migrations/
backend/Todo
backend/db.sqlite3
frontend/.vscode/
uploads/*
!uploads/.gitkeep
backend/technical/inventory/generated/*
backend/technical/inventory/__pycache__/
!backend/technical/inventory/generated/.gitkeep
backend/backend/config.py
*.rdb
dump.rdb
